<header class="container">
  <ul class="nav">
    <li class="nav-item"> <a class="nav-link"><h4>MD-DEV</h4></a></li>
    <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/start" > Start Page</a></li>
    <li class="nav-item" routerLinkActive="active"> <a class="nav-link" routerLink="/results" > Results Page</a></li>
    <li class="nav-item"> <a class="nav-link"> Page </a></li>
  </ul>
</header>
<hr>
<div class="row" style="margin-top: 15%;">
  <div class="col-12 justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>

